{% extends "base.tmpl" %}

{% block content %}
    {% if category is not empty %}
        <div class="container">
            <h1 class="my-md-5 my-4">Изменить категорию</h1>
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <form method="POST" action="">
                        {% if success is not empty %}
                            <h5 class="my-md-2 my-2">{{ success }}</h5>
                        {% endif %}
                        <div class="form-floating mb-3">
                            <input type="text" name="name" class="form-control" placeholder="Напишите название"
                                   id="floatingName" value="{{ category.name }}" required>
                            <label for="floatingName">Название</label>
                            <div class="invalid-feedback">
                                Пожалуйста, заполните поле
                            </div>
                        </div>
                        <button class="btn btn-primary" name="change_category" value="1" type="submit">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
