{% block header %}
    {% include "main/header.tmpl" %}
{% endblock %}

{% block nav %}
    {% include "main/nav.tmpl" %}
{% endblock %}


{% block errors %}
    {% include "main/errors.tmpl" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include "main/footer.tmpl" %}
{% endblock %}

